<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="se.johan.wendler" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"
        tools:ignore="GradleOverrides,OldTargetApi"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="false"
        tools:ignore="HardcodedDebugMode,UnusedAttribute">
        <activity
            android:name="se.johan.wendler.activity.StartupActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="se.johan.wendler.activity.MainActivity" />
        <activity
            android:name="se.johan.wendler.activity.WorkoutActivity"
            android:parentActivityName="se.johan.wendler.activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jnord.wendler.activity.MainActivity" />
        </activity>
        <activity
            android:name="se.johan.wendler.activity.SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName="se.johan.wendler.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="se.johan.wendler.activity.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName="se.johan.wendler.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
